{% extends "base.html" %}

{% block cuerpo %}
<div class="row"><!-- fila en editar -->
    <div class="col-md-4 offset-md-4">
        <h2>Editar materias</h2>
        <!-- Aqui codigo tarjeta -->
        <div class="card"><!--La tarjeta-->
            <div class="card-body">
                <form action="registrarInventario/" method="POST">{% csrf_token %}<!--Falta action-->
                    <div class="form-group">
                        <input type="text" id="txtcodigo" name="txtcodigo" class="form-control"
                        placeholder="Id Inventario" minlength="1" maxLenght="6" required><br>
                    </div>
    
                    <div class="form-group py-3">
                        <input type="text" id="txtvehiculo" name="txtvehiculo" class="form-control"
                        placeholder="Nombre Vehiculo" maxLenght="100" required><br>
                    </div>
    
                    <div class="form-group">
                        <input type="text" id="numcantidad_a" name="numcantidad_a" class="form-control"
                        min="1" max="500" value="1" required><br>
                    </div>
    
                    <div class="form-group py-3">
                        <input type="text" id="txtubicacion" name="txtubicacion" class="form-control"
                        placeholder="Ubicacion" maxLenght="100" required><br>
                    </div>
    
                    <div class="form-group py-3">
                        <input type="text" id="txtestado" name="txtestado" class="form-control"
                        placeholder="Estado del Vehiculo" maxLenght="100" required><br>
                    </div>
    
                    <div class="form-group py-3">
                        <input type="text" id="txtproveedor" name="txtproveedor" class="form-control"
                        placeholder="Proveedor" maxLenght="100" required><br>
                    </div>
    
                    <div class="form-group py-3">
                        <button type="submit" class="btn btn-primary">Guardar Inventario</button>
                    </div>
                </form>
            </div>
        </div><!--La tarjeta-->
        <!-- Aqui codigo tarjeta -->
    </div>
</div><!-- fila en editar -->




{% endblock %}